body {
	background-color: #005b44;
	color: #00ffddaa;
}

.view {
	margin: 5% 30%;
	border: 3px solid #000000;
	height: 800px;
	padding: 1%;
	background-color: #0b5146;
}

td, th {
	color: #00ffddaa;
	width: 50%;
	border-bottom: 1px solid #00ffddaa;
}

.dash {
	padding: 10px 30%;
	display: flex;
	justify-content: space-between;
	width:100%;
	background-color: #222222;
}