body {
	background-color: #002f34;
	color: #00ffddaa;
	font-family: Fantasy;
}

h1 {
	font-size: 3vw;
}

h2 {
	font-size: 2.5vw;
	color: #001a1c;
}
.view {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 5% 30%;
	border: 3px solid #000000;
	height: 800px;
	padding: 2%;
	background-color: #0b4f44;
}

#font1 {
	font-size: 1.5vw;
	
}
#font2 {
	font-size: 1.1vw;
}

.login {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 5% 30%;
	border: 3px solid #000000;
	height: 800px;
	padding: 2%;
	background-color: #0b5146;
}


td, th {
	color: #00ffddaa;
	width: 50%;
	border-bottom: 1px solid #00ffddaa;
}

.dash {
	padding: 10px 30%;
	display: flex;
	justify-content: space-between;
	width:100%;
	background-color: #222222;
}

label {
	text-decoration-line: underline;
}

#inputText {
	width:15vw;
	border-radius: 10px;
}

input, textarea {
	width: 50%;
	border-radius: 10px;
}

button {
	border-radius: 10px;
}